node modules
.env
npm i express dotenv mongoose colors jsonwebtoken bcrypt
npm i -D nodemon
"start": "e-commerce/server.js",
    "server": "nodemon e-commerce/server.js"
npm i express-async-handler@1.1.4